VITE_SENTRY_DSN=
VITE_SENTRY_ENVIRONMENT=production
VITE_SENTRY_TRACES_SAMPLE_RATE=0.1
VITE_SENTRY_RELEASE=

SENTRY_ORG=tsilva
SENTRY_PROJECT=embeddingviz
SENTRY_AUTH_TOKEN=
SENTRY_BASE_URL=https://sentry.io
